<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark: {
                            100: '#e0e0e0',
                            200: '#b6b6b6',
                            300: '#8b8b8b',
                            400: '#616161',
                            500: '#363636',
                            600: '#2d2d2d',
                            700: '#252525',
                            800: '#1c1c1c',
                            900: '#131313',
                        },
                    },
                },
            },
        }
    </script>
</head>
<body class="bg-dark-700">
    <div class="container mt-8 mx-auto md:mt-[10%] lg:mt-[5%]">
        <div class="max-w-md mx-auto">
            <div class="bg-dark-600 shadow-sm rounded-lg px-8 pt-6 pb-8 mb-4">
                <h3 class="text-2xl font-semibold mb-6 text-center text-dark-200">Register</h3>
                <form method="POST">
                {% csrf_token %}
                    <div class="mb-4">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="username">
                            Username
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="email">
                            Email
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="first_name">
                            First Name
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="first_name" name="first_name" type="text" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="last_name">
                            Last Name
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="last_name" name="last_name" type="text" required>
                    </div>
                    <div class="mb-4">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="password">
                            Password
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" required>
                    </div>
                    <div class="mb-6">
                        <label class="block text-dark-400 text-sm font-medium mb-2" for="confirm_password">
                            Confirm Password
                        </label>

                        <input class="shadow appearance-none border border-dark-400 rounded w-full py-2 px-3 text-dark-200 bg-dark-500 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" name="confirm_password" type="password" required>
                    </div>
                    {% if error %}
                    <div class="bg-red-900 border border-red-700 text-red-200 px-4 py-3 rounded relative mb-4" role="alert">{{ error }}</div>
                    {% endif %}
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full transition duration-150 ease-in-out" type="submit">
                            Register
                        </button>
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-sm text-dark-400">Already have an account? <a href="{% url 'login' %}" class="text-blue-400 hover:text-blue-300">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>